:root {
    --a-color: #036aca;
    --text-color: #333333;
}

/* ========== */

.HyperMD-table-row {
	font-family: 'LXGW WenKai', sans-serif !important;
}

.inline-title {
    display: none;
}

.HyperMD-header-2 {
    /*color: #135ce0;*/
    font-size: 1.8rem;
}
.HyperMD-header-3 {
    /*color: #135ce0;*/
    font-size: 1.2rem;
    /*font-weight: 500;*/
}

/* 超链接字体颜色 */
.cm-s-obsidian span.cm-link {
    color: var(--a-color);
}
.cm-s-obsidian span.cm-url, .cm-s-obsidian span.cm-url:hover {
    color: var(--text-color);
}

/* 代码块上边距 */
.markdown-source-view.mod-cm6 .cm-content .HyperMD-codeblock-begin {
    margin-top: 5px !important;
}
/* 代码块下边距 */
.markdown-source-view.mod-cm6 .cm-content .HyperMD-codeblock-end {
    margin-bottom: 5px !important;
}

/*.HyperMD-codeblock.HyperMD-codeblock-begin.HyperMD-codeblock-begin.HyperMD-codeblock-begin,
.HyperMD-codeblock.HyperMD-codeblock-end.HyperMD-codeblock-end.HyperMD-codeblock-end {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 2px !important;
}*/

/* 复制代码 */
.markdown-source-view.mod-cm6 .code-block-flair {
    display: none;
}

/* 引用 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    background-color: #fff9f9;
    padding: 10px 16px;
    border-radius: 2px;
    position: relative;
    border-left: none;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #b2aec5;
    border-radius: 2px;
}

/* 无序列表 */
.list-bullet:after {
    left: -2px;
    color: #5c6165;
    background-color: #5c6165;
}

/* 行内代码 */
.cm-s-obsidian span.cm-inline-code {
    background-color: #fff5f5;
    color: #d63200;
    border-radius: 2px !important;
}
.cm-s-obsidian span.cm-formatting-code {
    padding: 0 !important;
}

.cm-formatting-quote-1 {
    margin-left: 5px;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
    display: none;
}

.cm-line.HyperMD-list-line {
    tab-size: 1.2em;
}

input[type=checkbox]:checked:after {
    top: -0.5px;
    left: -1.1px;
}
